<div class="bg-[#36454f] w-full">
  <div
    class="w-[85%] max-w-full mx-auto px-2 py-16 flex flex-col justify-between text-white h-full gap-10"
  >
    <div class="flex justify-between flex-wrap gap-10">
      <div class="space-y-5 max-w-[600px]">
        <h1 class="text-[20px]">About</h1>
        <p class="opacity-65 text-[14px] md:text-base">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="space-y-5">
        <h1 class="text-[20px]">Categories</h1>
        <ul
          class="opacity-65 space-y-5 text-xs md:text-[14px] md-900:text-base"
        >
          <li>SOFTWARE TRAINING</li>
          <li>PLACEMENT AND JOB</li>
          <li>SOFTWARE CONSULTING</li>
          <li>SOFTWARE TRAINING</li>
          <li>SOFTWARE TRAINING</li>
        </ul>
      </div>
      <div class="space-y-5">
        <h1 class="text-[20px]">Quick Links</h1>
        <ul
          class="opacity-65 space-y-5 text-xs md:text-[14px] md-900:text-base"
        >
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Contribute</li>
          <li>Privacy Policy</li>
          <li>Sitemap</li>
        </ul>
      </div>
    </div>
    <hr />
    <div
      class="flex flex-wrap items-center justify-between text-[14px] md:text-base"
    >
      <div>Copyright © 2023 All Rights Reserved by Asad Ullah.</div>
      <div class="space-x-2 my-5 md:my-0">
        <i
          class="bi bi-facebook py-2 px-3 bg-gray-400 rounded-full hover:opacity-90 cursor-pointer"
        ></i>
        <i
          class="bi bi-twitter py-2 px-3 bg-gray-400 rounded-full hover:opacity-90 cursor-pointer"
        ></i>
        <i
          class="bi bi-linkedin py-2 px-3 bg-gray-400 rounded-full hover:opacity-90 cursor-pointer"
        ></i>
      </div>
    </div>
  </div>
</div>
