input{
    outline: none;
}
input.ng-invalid.ng-touched{
    border:1px solid red;
    border-radius: 4px;
    box-shadow: 0px 0px 3px red;
}
input.ng-valid.ng-touched{
    border:1px solid rgb(47, 212, 47);
    border-radius: 4px;
    box-shadow: 0px 0px 3px rgb(47, 212, 47);
}