<div>
  <div class="h-auto relative flex items-center justify-center">
    <video
      src="https://videos.ctfassets.net/00atxywtfxvd/5JIGQtPRwvNIcLLoqpypqR/048c52187728363b7b059ef53e10a711/Anthem_V6.mp4"
      autoplay
      loop
      class="w-full min-h-[400px] md:min-h-[500px] object-cover"
    ></video>
    <div
      class="absolute flex flex-col items-center justify-center h-full w-full top-0 left-0 text-white"
    >
      <h3 class="text-[16px]">Our Vision</h3>
      <h1
        class="text-[24px] md:text-[32px] md-1000:text-[50px] text-center w-[70%] my-10"
      >
        We envision a world where anyone, anywhere has the power to transform
        their lives through learning.
      </h1>
      <a routerLink="/courses">
        <button
          class="py-2 px-10 border border-white hover:text-primary hover:bg-white transition duration-300 ease-in-out"
        >
          Explore Courses
        </button>
      </a>
    </div>
  </div>
  <div
    class="flex w-[1350px] flex-col md-1000:flex-row max-w-full px-5 mx-auto items-center justify-between gap-2 my-10"
  >
    <h1 class="text-base md:text-[20px] font-[300] leading-10">
      Academio partners with
      <span class="font-bold">more than 300 leading universities</span> and
      companies to bring flexible, affordable, job-relevant online learning to
      individuals and organizations worldwide. We offer a range of learning
      opportunities—from hands-on projects and courses to job-ready certificates
      and degree programs.
    </h1>
    <img
      src="https://images.ctfassets.net/00atxywtfxvd/4vOWgNjy4KExR8msqHnJEP/bb1557d60e8a29f6a5f09148f700bff5/partner-logos.png"
      alt="Universities"
    />
  </div>
  <div
    class="min-h-height-minus-hundred bg-[#36454f] opacity-70 overflow-hidden text-white text-center py-10 px-5 relative"
  >
    <div class="absolute h-[4px] w-[2000px] bg-white rotate-45"></div>
    <div class="absolute -rotate-45 bottom-0 h-[4px] w-[2000px] bg-white"></div>

    <h1 class="text-[24px] md:text-[36px] mb-5">We believe</h1>
    <p class="text-[18px] md:text-[24px]">
      Learning is the source of human progress. <br /><br />
      It has the power to transform our world <br />
      from illness to health, <br />
      from poverty to prosperity, <br />
      from conflict to peace. <br />
      <br />
      It has the power to transform our lives <br />
      for ourselves, <br />
      for our families, <br />
      for our communities. <br />
      <br />
      No matter who we are or where we are, <br />
      learning empowers us to change and grow <br />
      and redefine what’s possible. <br />
      That’s why access to the best learning is a right, not a privilege. <br />
      And that’s why CourserHero is here. <br />
      We partner with the best institutions <br />
      to bring the best learning <br />
      to every corner of the world. <br /><br />
      So that anyone, anywhere has the power to <br />
      transform their lives through learning.
    </p>
  </div>
</div>
