<div>
  <div
    class="flex items-center flex-wrap md:justify-between h-[300px] md:h-height-hundred w-[1300px] max-w-full px-5 mx-auto py-10 md:py-0"
  >
    <h1 class="text-[50px] md:text-[70px] md:basis-1/2 font-bold">
      Contact Us
    </h1>
    <p class="text-[16px] md:text-[24px] md:basis-1/2 opacity-80">
      Have questions? The quickest way to get in touch with us is using the
      contact information below.
    </p>
  </div>
  <div class="bg-[#f5f7f8] py-20">
    <div
      class="flex items-center flex-wrap md:justify-between w-[1300px] max-w-full px-5 mx-auto md:py-0"
    >
      <h1
        class="text-[45px] md:text-[60px] md:basis-1/2 font-bold mb-3 md:mb-0 leading-snug"
      >
        Learner Support
      </h1>
      <div class="md:basis-1/2 space-y-5">
        <p class="text-[16px] md:text-[24px] opacity-80">
          If you are a learner and need help, please visit our Learner Help
          Center to find troubleshooting and FAQs or contact our Learner Support
          team.
        </p>
        <p class="text-[16px] md:text-[24px] opacity-80 mb-10">
          You can search for your issue or check out our most popular articles:
        </p>
        <ul class="space-y-12 text-blue-900 text-[14px] md:text-base">
          <li title="Dummy Link" class="cursor-pointer">
            Check and update your email communication preferences
          </li>
          <li title="Dummy Link" class="cursor-pointer">Verify your ID</li>
          <li title="Dummy Link" class="cursor-pointer">
            How to solve problems with peer-graded assignments
          </li>
          <li title="Dummy Link" class="cursor-pointer">
            Troubleshooting login and account issues
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
